@using BookStore.Models

@model BookStore.Models.Team

@{
    ViewBag.Title = "Команда " + @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Команда @Model.Name</h4>
    <hr />
    <dl>
        <dt>Название</dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>Тренер</dt>

        <dd>
            @Html.DisplayFor(model => model.Coach)
        </dd>

        <dt>Игроки</dt>

        <dd>
            <ul class="list-group">
                @foreach (Player player in Model.Players)
                {
                    <li class="list-group-item">@player.Name (@player.Position)</li>
                }
            </ul>
        </dd>
    </dl>
</div>
